:root {
  /** color palette **/
  --primary: #FFFFFF;
  --accent: #AD1A19;
  --secondary: #d2873c;
  --black: #111111;
  --gray-dark: #252525;
  --gray-light: #CECECE;
  --font-color: #CECECE;

  /** sizes **/
  --size-1: 5px;
  --size-2: 10px;
  --size-3: 15px;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;

  /** fixed sizes **/
  --gutter: 15px;
  --max-width: 1280px;
  --header-height: 50px;

  /** properties **/
  --border-radius: 10px;
  --outer-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  --inner-highlight: inset -2px 3px 6px rgba(255, 255, 255, 0.15);

  /** fonts **/
  /** --main-font: font-family: "Wellfleet", monospace; **/
  --main-font: "Nanum Myeongjo", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.bg-primary {
  background-color: var(--black);
}

.bg-secondary {
  background-color: var(--gray-dark);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary);
}

body {
  color: var(--font-color);
  font-family: var(--main-font);
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
